<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <meta charset="UTF-8">
  <title>Iusshop</title>
  <script type="text/javascript" src="../scripts/index.js" defer></script>
</head>
<body>

<!-- Appbar start -->
  <nav class="appbar">
    <a href="" class="appbar__logo"><span>IUS</span>SOFT.</a>
    <div class="appbar__list">
      <a href="#">Home</a>
      <a href="#">Favorite</a>
      <a href="https://github.com/iusantuy">About Us</a>
    </div>
    <div class="appbar__list-mobile">
      <a href="#" id="appbar__hamburger-menu">
        <i class="material-symbols-outlined">Menu</i>
      </a>
    </div>
  </nav>
<!-- Appbar end -->

<!-- Hero start -->
  <section class="hero">
    <main class="hero-content">
      <h1>
        What you want to eat today?
      </h1>
      <p>Enjoy the food in your favorite restaurant</p>
      <a href="#" class="hero-cta">Find restaurant</a>
    </main>
  </section>
<!-- Hero end -->

<!-- Restaurant List start -->
<section class="restaurants">
  <h1>
    Find Unique Restaurants
  </h1>
  <div class="restaurant-list"></div>
</section>
<!-- Restaurant List end -->

<!-- Footer start -->
  <footer class="footer">
    <h3>
      &copy; Iussoft 2023
    </h3>
  </footer>
<!-- Footer end -->
</body>
</html>
